<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Home - Lyaen
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        const request = new Request('http://localhost:3000/session', { method: 'GET', mode: 'cors', headers: { 'Content-Type': 'application/json;charset=UTF-8' } });

        fetch(request)
            .then(response => {
                if (response.status === 200) {
                    //return response.json();
                }
                else if (response.status === 401) {
                    window.location.replace("/");
                }
                else {
                    throw new Error('Something went wrong on api server!');
                }
            })
            .then(response => {
                console.debug(response);
                // ...
            }).catch(error => {
                console.error(error);
            });
    </script>
</head>

<body>

    <div class="container">
        <div class="row" style="margin: 30px;">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-center">
                <a href="/create-visit.html" class="btn btn-info btn-lg btn-block">
                    Create Visit
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="/create-visit.html" class="btn btn-info btn-lg btn-block">
                    View Visits
                </a>
            </div>
        </div>
        <div class="row" style="margin: 30px;">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-center">
                <a href="/create-visit.html" class="btn btn-info btn-lg btn-block">
                    Create Request
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="/create-visit.html" class="btn btn-info btn-lg btn-block">
                    View Requests
                </a>
            </div>
        </div>

    </div>
</body>

</html>