</html>

<head meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    const request = new Request('http://localhost:3000/session', { method: 'GET', mode: 'cors', headers: { 'Content-Type': 'application/json;charset=UTF-8' } });

    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.replace("/home.html");
        }
        else if (response.status === 401) {
          console.log("Authentication Failed!");
        }
        else {
          throw new Error('Something went wrong on api server!');
        }
      })
      .then(response => {
        console.debug(response);
        // ...
      }).catch(error => {
        console.error(error);
      });
  </script>
</head>

<body>
  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">

        <div class="panel-heading">
          <div class="panel-title"><h3>Sign In</h3></div>
          <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
        </div>

        <div style="padding-top:30px" class="panel-body">

          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

          <form id="loginform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="email" type="text" class="form-control" name="username" value=""
                placeholder="username or email">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" class="form-control" name="password1" placeholder="password">
            </div>

            <div class="input-group">
              <div class="checkbox">
                <label>
                  <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                </label>
              </div>
            </div>


            <div style="margin-top:10px" class="form-group">
              <!-- Login Button -->

              <div class="col-sm-12 controls">
                <a id="btn-login" href="#" class="btn btn-success" onclick="login()">Login </a>
                <span id = "emessage"></span>
                <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a> -->

              </div>
            </div>

            <div id="signupalert" style="display:none" class="alert alert-danger">
              <p>Error:</p>
              <span></span>
            </div>

            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  Don't have an account!
                  <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                    Sign Up Here
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Signup-->
    <div id="signupbox" style="display:none; margin-top:50px"
      class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title" style="font-size: 30px; height:80px">Sign Up</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#"
              onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
        </div>
        <div class="panel-body">
          <form id="signupform" class="form-horizontal" role="form">

            <div id="signupalert" style="display:none" class="alert alert-danger">
              <p>Error:</p>
              <span></span>
            </div>

            <!------------ Signup form data -------------->
            <div class="form-group">
              <label for="email1" class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                <input id="email1" type="text" class="form-control" name="email" placeholder="Email Address" onkeyup = "validateEmail()">
                <div id='message3' style="margin-left: 8px"></div>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-md-3 control-label">Name</label>
              <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="password0" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input id="password0" type="password" class="form-control" name="passwd" placeholder="Password"
                  onkeyup="passcheck()">
                <div id='message1' style="margin-left: 8px"></div>
              </div>
            </div>

            <div class="form-group">
              <label for="namepas" class="col-md-6 control-label">Confirm Password</label>
              <div class="col-md-9">
                <input id="namepas" type="password" class="form-control" name="cpass" placeholder="Confirm Password"
                  onkeyup="check()">
              </div>
              <div id='message' style="margin-left: 22px"></div>
            </div>

            <div class="form-group">
              <!-- Button -->
              <div class="col-md-offset-3 col-md-9">
                <button id="btn-signup" type="button" class="btn btn-info" onclick="signup()"><i
                    class="icon-hand-right"></i> &nbsp Sign
                  Up</button>
                  <span id='message4' style="margin-left: 8px"></span>
                <!--<span style="margin-left:8px;">or</span>-->
              </div>
            </div>
            <!-- The Modal -->
            <div class="modal" id="modal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Response!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div id = "modal1" class="modal-body"></div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                      onclick="$('#signupbox').show(); $('#loginbox').hide();">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

              <!-- <div class="col-md-offset-3 col-md-9">
                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up
                  with Facebook</button>
              </div> -->

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>

    function login() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      var obj = {
        email: email,
        pwd: password
      }

      const request = new Request('http://localhost:3000/signin', { method: 'POST', mode: 'cors', headers: { 'Content-Type': 'application/json;charset=UTF-8' }, body: JSON.stringify(obj) });

      fetch(request)
        .then(response => {
          if (response.status === 200) {
            return response.json();
          } else {
            throw new Error('Something went wrong on api server!');
          }
        })
        .then(data => {
          if (data["status"]) {
            window.location.replace('/home.html');
          }
          else {
            var mess = data["Message"];
            document.getElementById("emessage").innerHTML = mess;
            document.getElementById("emessage").style.color = "red";
          }
        })
        .then(response => {
          console.debug(response);
          // ...
        }).catch(error => {
          console.error(error);
        });

    }
    var passMatch = 0;
    var emailVerify = 0;
    document.getElementById('message').innerHTML = '';

    function signup() {
      var name = document.getElementById("name").value;
      var email = document.getElementById("email1").value;
      var password0 = document.getElementById("password0").value;
      var password1 = document.getElementById("namepas").value;

      var obj1 = {
        name: name,
        email: email,
        pwd1: password0,
        cpwd: password1
      }
      const request = new Request('http://localhost:3000/signup', { method: 'POST', mode: 'cors', headers: { 'Content-Type': 'application/json;charset=UTF-8' }, body: JSON.stringify(obj1) });
      document.getElementById("message4").innerHTML = "";

      fetch(request)
        .then(response => {
          if (response.status === 200) {
            $('input').val('');
            document.getElementById('message').innerHTML = '';
            document.getElementById('message1').innerHTML = '';
            document.getElementById('message3').innerHTML = '';
            document.getElementById('email1').style.borderColor = '#C0C0C0';
            document.getElementById('namepas').style.borderColor = '#C0C0C0';
            document.getElementById('password0').style.borderColor = '#C0C0C0';
            document.getElementById('name').style.borderColor = '#C0C0C0';
            return response.json();
          } else {
            throw new Error('Something went wrong on api server!');
          }
        })
        .then(data => {
          console.log(data.Message);
          $('#modal1').html(data.Message);
        })
        .then(response => {
          console.debug(response);
          // ...
        }).catch(error => {
          console.error(error);
        });
      $('#modal').modal('show');
      }

    function passcheck() {
      var str = document.getElementById("password0").value;
      var y = str.length;

      var strength = 0;

      var capital = new RegExp("[A-Z]");
      var small = new RegExp("[a-z]");
      var num = new RegExp("[1-9]");
      var special = new RegExp("[{}/!@$%^&*()~]");

      var colors = "#C0C0C0";
      var strengthn = "";
      var name = "Strength: ";

      if (y > 1) { colors = "red"; strengthn = "Weak"; }
      if (y > 7) strength++;
      if (capital.test(str) && small.test(str)) strength++;
      if (num.test(str)) strength++;
      if (special.test(str)) strength++;

      if (strength == 0) { }
      else if (strength == 1) { colors = "red"; strengthn = "Weak"; }
      else if (strength > 1 && strength < 4) { colors = "orange"; strengthn = "Good"; }
      else if (strength == 4) { colors = "blue"; strengthn = "Strong"; }

      document.getElementById("password0").style.borderColor = colors;
      strengthn = name + strengthn;
      document.getElementById("message1").innerHTML = strengthn;
      document.getElementById("message1").style.color = colors;

    }

    function check() {
      if (document.getElementById('password0').value ==
        document.getElementById('namepas').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('namepas').style.borderColor = 'green';
        document.getElementById('password0').style.borderColor = 'green';
        document.getElementById('message').innerHTML = 'Password Matched';
        passMatch = 1;
      } else {
        passMatch = 0;
        document.getElementById('namepas').style.borderColor = 'red';
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Not Matching';
      }
    }

    function isEmail(email) {
      var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      return regex.test(email);
    }

    function validateEmail(){
      var str = document.getElementById("email1").value;
      if(!isEmail(str)){
        document.getElementById('message3').style.color = 'red';
        document.getElementById('email1').style.borderColor = 'red';
        document.getElementById('message3').innerHTML = 'Invalid email address';
        emailVerify = 0;
      }else { 
        document.getElementById('message3').innerHTML = '';
        document.getElementById('email1').style.borderColor = 'green';
        emailVerify = 1;
      }
    }
  </script>


</body>

</html>