</html>

<head>
  <title>Add Request</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="~/scripts/jquery-1.10.2.js"></script>
  <!-- #region datatables files -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    const request1 = new Request('http://localhost:3000/session', { method: 'GET', mode: 'cors', headers: { 'Content-Type': 'application/json;charset=UTF-8' } });

    fetch(request1)
      .then(response => {
        if (response.status === 200) {
          //return response.json();
        }
        else if (response.status === 401) {
          window.location.replace("/");
        }
        else {
          throw new Error('Something went wrong on api server!');
        }
      })
      .then(response => {
        console.debug(response);
        // ...
      }).catch(error => {
        console.error(error);
      });
  </script>

</head>


<!------ Create Request Page ---------->

<body>
  <script>

    //Getting all visits data and displaying in table 
    
    const request = new Request('http://localhost:3000/visits', { method: 'GET', mode: 'cors' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          return response.json();
        } else {
          throw new Error('Something went wrong on api server!');
        }
      })
      .then(data => {
        $(function () {

          // EXTRACT VALUE FOR HTML HEADER. 
          var response = data;
          var col = [];
          for (var i = 0; i < response.length - 1; i++) {
            for (var key in response[i]) {
              if (col.indexOf(key) === -1) {
                col.push(key);
              }
            }
          }
          //Placing header in the table head
          var c = [];
          c.push("<thead><tr><strong>");
          for (var i = 0; i < col.length - 1; i++) {
            if (col[i] == 'maxRequests') col[i] = "Max Requests";
            c.push("<th>" + col[i] + "</th>");
          }
          c.push("</strong></tr></thead><tbody>");

          //placing data in table body
          $.each(response, function (i, item) {
            c.push("<tr id = " + item.ID + "><td>" + item.ID + "</td>");
            $('tr').attr('id', item.ID);
            c.push("<td>" + item.Description + "</td>");
            c.push("<td>" + item.Destination + "</td>");
            c.push("<td>" + item.Timestamp + "</td>");
            c.push("<td>" + item.maxRequests + "</td>");
            c.push("<td>" + item.Status + "</td></tr>");
          });
          c.push("</tbody>");
          $('#t1').html(c.join(""));
        });
      })
      .then(response => {
        console.debug(response);
        // ...
      }).catch(error => {
        console.error(error);
      });


  </script>

  <h1 class="card-title" style="text-align: center; margin-top: 10px; ">My visits</h1>

  <table id="t1" class="table table-hover" style="background-color:azure">
  </table>


</body>

</html>